BUNDLE_ID_IOS=vn.fighttech.boilerplateflutter
BUNDLE_ID_ANDROID=vn.fighttech.boilerplateflutter
NAME_PROJECT=boilerplateflutter
NAME_APP=Boilerplate Flutter
ID_STORYBOOK_FIREBASE=boilerplateflutter-storybook